{% extends 'base.html.twig' %}

{% block title %}Apropos - GiftBot 3000{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/shared.css') }}">
    <link rel="stylesheet" href="{{ asset('build/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('build/contact.css') }}">
{% endblock %}

{% block body %}

    {# Include Navbar #}
    {% include 'components/_navbar.html.twig' %}


    <section class="contact-section text-center">
        <h4 class="fw-bold mb-4">Giftnator 3000</h4>
        <h2 class="fw-bold mb-5">Contactez-nous</h2>

        <div class="container">
            <div class="row g-4 justify-content-center">
                <!-- Address -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="contact-box">
                        <i class="fas fa-map-marker-alt"></i>
                        <h6>6 rue de Amsterdam, 75014 </br> Paris</h6>
                        <p class="mt-2">Visitez-nous </p>
                    </div>
                </div>

                <!-- Phone -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="contact-box">
                        <i class="fas fa-phone-alt"></i>
                        <h6>+33 768 956 862</h6>
                        <p class="mt-2">Appelez-nous à tout moment</p>
                    </div>
                </div>

                <!-- Email -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="contact-box">
                        <i class="fas fa-envelope"></i>
                        <h6><a href="mailto:gift123@gmail.com" class="text-decoration-none text-dark">gift123@gmail.com</a></h6>
                        <p class="mt-2">Écrivez-nous</p>
                    </div>
                </div>

                <!-- Socials -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="contact-box">
                        <i class="fas fa-user-plus"></i>
                        <h6>Socials</h6>
                        <p class="mt-2">Suivez-nous</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{# Include Footer #}
{% include 'components/_footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}